@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Josefin+Sans&family=La+Belle+Aurore&family=Lily+Script+One&display=swap");

* {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
body {
  background-image: url(./assets/BackgroundFigma.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
}

#upperNavigationBar {
  background-color: white;
  width: 100vw;
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  height: 11vh;
  font-family: "La Belle Aurore", cursive;
  font-size: 2.5rem;
  display: flex;
  margin-top: 2vh;
  align-items: center;
  cursor: pointer;
}

#logo img {
  height: 9vh;
  margin-top: -2vh;
  margin-left: 3vw;
  cursor: pointer;
}

#rightNavigation {
  display: flex;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #a94a4a;
}

nav #home {
  background-color: #a94a4a;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav a:hover {
  background-color: rgba(116, 72, 72, 0.249);
}

#quoteSection {
  display: flex;
  padding: 50px 0;
  text-align: center;
  justify-content: center;
  color: white;
  cursor: default;
  padding-bottom: 0;
}

#quote {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
}

#author {
  display: block;
  font-size: 1.2rem;
  text-align: right;
  font-family: "Lily Script One", cursive;
}
#fixedSearchIcon {
  position: relative;
  left: 64px;
  top: 34px;
  height: 30px;
  width: 30px;
}
#searchPanel {
  width: 100vw;
  display: flex;
  justify-content: center;
}
#searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 69vw;
  height: 35px;
  border: none;
  border-top-left-radius: 146px;
  border-bottom-left-radius: 146px;
  padding: 10px;
  padding-left: 3vw;
  font-size: 1.2rem;
  margin: 20px;
  color: #a94a4a;
  margin-right: 0;
}
#searchpanel {
  position: absolute;
}
input {
  font-family: "Josefin Sans", sans-serif;
}
input::placeholder {
  font-family: "Josefin Sans", sans-serif;
}
#searchPanel button {
  height: 55px;
  border-top-right-radius: 146px;
  border-bottom-right-radius: 146px;
  margin: 20px;
  margin-left: 0;
  border: none;
  width: 5vw;
  background-color: white;
  border-left: 2px solid #a94a4a;
}
#randomPick {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: default;
}
#randomPick u {
  display: flex;
  align-items: center;
  font-family: "Leckerli One", Tofu;
  color: white;
  font-size: 7rem;
  height: 50vh;
}
#randomMeal,
.searchMeal {
  min-width: 340px;
  margin: 1vw;
  background-color: white;
  padding: 0.5vw;
  display: flex;
  flex-direction: column;
}

.randomImage {
  min-width: 334px;
  height: 25vh;
  border: 5px solid black;
  margin-bottom: 5px;
}
.randomImage img {
  min-width: 334px;
  height: 100%;
}
.mealName {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  color: #a94a4a;
  font-weight: 700;
}
.stats {
  display: flex;
  flex-direction: row;
}
.rating {
  width: 3vw;
  height: 3vh;
  background-color: green;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 3px;
}
.rating img {
  margin: 3px;
  width: 10px;
}
.rating u {
  font-size: 0.8rem !important;
}
.line {
  width: 2px;
  height: 4vh;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #a94a4a;
}
.views {
  display: flex;
  align-items: flex-end;
}
.views p {
  font-family: "Josefin Sans", sans-serif;
  color: gray;
  font-size: 20px;
}
.recipeText {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  background-color: #a94a4a;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 10vw;
  align-items: left;
}
.recipeButton {
  display: flex;
  justify-content: flex-end;
}
/*New div*/

#searchResult {
  width: 100vw;
  height: 64vh;
  display: flex;
  justify-content: center;
}
#resultsBox {
  display: none;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 2rem;
  width: 80vw;
  height: 64vh;
}
#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 56vh;
  margin-top: 10px;
  overflow: scroll;
}
/* css for modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  overflow: hidden;
}

.modal-content {
  position: relative;
  background-image: url(./assets/modal.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;

  margin: 3% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80vw;
  height: 80vh;
  border-radius: 10px;
}
.modal-content p {
    font-size: 1.2rem;
    font-family: "Josefin Sans", sans-serif;
}
#button{
  padding: 10px;
  background-color: #a94a4a;
  font-size: 1rem;
  border: 3px solid black;
  position: relative;
  left: 29vw;
  bottom: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  
}
#button a{
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}
#container{
  display: flex;
  flex-direction: row;
}
#imageAndIngredients {
  display: inline-block;
  width: 35vw;
}
#insrtructionsAndButton{
  display: inline-block;
  width: 40vw;
}
#insrtructionsAndButton ol{
  height: 60vh;
  font-family: "Josefin Sans", sans-serif;
  overflow-y: scroll;
  width: 44vw;
  padding: 20px;
  padding-right: 0;
}
#insrtructionsAndButton ol li{
  margin: 10px 0;
}
#ingredients {
  margin-left: 2vw;
  width: 30vw;
  height: 30vh;
  overflow: scroll;
  overflow-x: hidden;
}
.modal-content h2 {
  text-align: center;
  color: #a94a4a;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: underline;
  font-size: 2rem;
}
.modal-content img {
  width: 30vw;
  border: 8px solid black;
  margin: 2vw;
  margin-bottom: 0;
  height: 272px;
}
#ytIcon{
  border: none;
  width: 50px;
  height: 30px;
  margin: 0;
  margin-right: 10px;
}

.close {
  color: #000;
  float: right;
  font-size: 54px;
  font-weight: 800;
  cursor: pointer;
}
.headings{
  font-size: 1.5rem !important;
}
@media only screen and (max-width: 650px) {
  #rightNavigation{
    display: none;
  }
  #quoteSection{
    padding-bottom: 0;
  }
  #quotes , #info{
    font-size: 1.2rem;
    padding: 10px 0 0 0 ;
  }
  #fixedSearchIcon{
    display: none;
  }
  #upperNavigation{
    width: 100vw;
  }
  #quoteSection{
    width: 95vw;
  }
  #searchPanel button{
    width: 10vw;
    margin-bottom: 0;
  }
  #randomPick{
    flex-direction: column;
  }
  #randomPick u{
    font-size: 3rem;
    height: 6vh;
  }
  .rating{
    width: 10vw;
  }
  .recipeText{
    width: 24vw;
  }
  .randomImage{
    min-width: 255px;
  }
  .randomImage img {
    min-width: 266px;
  }
  /* #randomMeal, .searchMeal { */
    #randomMeal{
      min-width: 272px;
    margin: 3vw;
    padding: 2.5vw;
}
.searchMeal{
  padding: 1.5vw;
  margin-bottom: 20px;
  min-width: 276px;
}
#resultsBox{
  width: 82vw;
}
#results{
  height: 52vh;
}
#logo img {
  height: 8vh;
  margin-top: -1vh;
  margin-left: 1vw;
}
#quoteSection{
  padding: 18px 0;
}
#searchBar{
  margin-bottom: 0;
}
.modal-content{
  height: 90vh;
}
#container{
  flex-direction: column;
}
#imageAndIngredients{
  width: 72vw;
}
.modal-content img{
  height: 180px;
  width: 72vw;
}
#ingredients{
  height: 20vh;
}
#insrtructionsAndButton ol {
  height: 18vh;
  width: 76vw;
}
#button{
  left: 49vw;
}
}